<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/coalaiconn"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coalaiconn"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMobileEApp"
        tools:targetApi="31">
        <activity
            android:name=".EditReplyActivity"
            android:exported="true"
            android:label="질문 수정`"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"  />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReplyDetailActivity"
            android:exported="true"
            android:label="검색한 질문 목록`"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ReplyAdapter"
            android:exported="true"
            android:label="검색한 질문 목록`"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LogoutActivity"
            android:exported="true"
            android:label="로그아웃"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionsBySearch"
            android:exported="true"
            android:label="검색한 질문 목록`"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionSearch"
            android:exported="true"
            android:label="질문 검색`"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EditQuestion"
            android:exported="true"
            android:label="질문 수정`"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EditAnswer"
            android:exported="true"
            android:label="답변 수정"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AnswerDetailActivity"
            android:exported="true"
            android:label="답변 상세 보기"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionReg"
            android:exported="true"
            android:label="질문 등록"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".QuestionDetailActivity"
            android:exported="true"
            android:label="질문 상세 보기"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemListByOnMyOwn"
            android:exported="true"
            android:label="스스로 해결 여부로 검색"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemListByType"
            android:exported="true"
            android:label="문제 유형으로 검색"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemListByDifficulty"
            android:exported="true"
            android:label="문제 난이도로 검색"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemListByTitle"
            android:exported="true"
            android:label="문제 제목으로 검색"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemListByNum"
            android:exported="true"
            android:label="문제 번호로 검색"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemSearch"
            android:exported="true"
            android:label="내가 푼 문제 검색"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemReg"
            android:exported="true"
            android:label="내가 푼 문제 등록"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".EditProblemInfo"
            android:exported="true"
            android:label="문제 정보 수정"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemURL"
            android:exported="true"
            android:label="문제 URL"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ProblemInfo"
            android:exported="true"
            android:label="내가 푼 문제 정보"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="회원가입"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="내가 푼 문제"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>